
a{
 text-decoration: none;
  color: #00193e;
}
img {
  width:14em;
  height:7em;
  margin: 1em;
}
.breadcrumb{
  background-color: rgba(0, 207, 255, 0.04);
  margin-bottom: 0;
}
app-nav{
  box-shadow: 2px 4px rgba(0, 147, 226, 0.05);
  border-radius: 2%;
  margin-top: 0;
  padding-top: 3%;

}
#main{
  margin: 2%;
}
#staticHeader{
  display: flex;
  justify-content:space-around;
}
i{
  color: #00ceff;;
}
span{
  margin: 0 5px 0 5px;
}
