<img src="../../assets/logowhite.png">
<nav><ol class="breadcrumb">
  <li class="breadcrumb-item active"><i class="fa fa-home"></i> <a href="list.component.html"> Home</a></li>
</ol></nav>

<div class="row container-fluid">
  <app-nav class="col-sm-2"></app-nav>
  <div class="col-sm-6">
    <ul class="container" id="main">
      <div class="list-group">
        <li *ngFor="let file of files" class="list-group-item d-flex w-100 justify-content-between">
            <p *ngIf="file['.tag'] ==='folder'">
              {{ file.name }}
            </p>
            <p *ngIf="file['.tag']!=='folder'">
              {{ file.name }} {{ file.size }} {{ file.client_modified }}
            </p>
        </li>
      </div>
    </ul>
  <app-sidebar class="col-sm-3"></app-sidebar>
   </div>
  </div>



