<h2>NAME</h2>
<ol class="breadcrumb">
  <li class="breadcrumb-item active"><i class="fa fa-home"></i> home</li>
</ol>

<ul class="container">
  <div class="list-group">
    <li class="list-group-item d-flex w-100 justify-content-between">
      <div class="col-sm-4"><span class="fa fa-ambulance"></span></div>
      <div class="col-sm-4">datum</div>
      <div class="col-sm-4">storlek</div>
      <span class="fa fa-star"></span>
    </li>
    <li class="list-group-item d-flex w-100 justify-content-between">
      <div class="col-sm-4"><span class="fa fa-ambulance"></span></div>
      <div class="col-sm-4">datum</div>
      <div class="col-sm-4">storlek</div>
      <span class="fa fa-star"></span>
    </li>
    <li class="list-group-item d-flex w-100 justify-content-between">
      <div class="col-sm-4"><span class="fa fa-ambulance"></span></div>
      <div class="col-sm-4">datum</div>
      <div class="col-sm-4">storlek</div>
      <span class="fa fa-star"></span>
    </li>
  </div>
</ul>
