<img src="../../assets/logowhite.png">
<nav><ol class="breadcrumb">
  <li class="breadcrumb-item active"><i class="fa fa-home"></i> <a href="list.component.html"> Home</a></li>
</ol></nav>

<div class="row container-fluid">
  <app-nav class="col-sm-2"></app-nav>
  <div class="col-sm-6">
    <div id="staticHeader">
      <span>Name</span>
      <span>Size</span>
      <span>Modified</span>
    </div>
    <ul class="container" id="main">
      <div class="list-group">
        <li *ngFor="let file of files" class="list-group-item d-flex w-100 justify-content-between">
            <p *ngIf="file['.tag'] ==='folder'">
              <i class="fa fa-folder"></i>
              {{ file.name }}

            </p>

            <p *ngIf="file['.tag'] ==='file'">
              <i *ngIf="file.filetype === 'text'" class="fa fa-file"></i>
              <img *ngIf="file.filetype === 'image'" [src]=sanitize(file.thumbnail)>
              <span>{{ file.name }} </span>
              <span>
                {{ formatBytes(file.size) }}
              </span>
              <span>
                {{timeStampFix(file.client_modified)}}
              </span>
            </p>

        </li>
      </div>
    </ul>
  <app-sidebar class="col-sm-3"></app-sidebar>
   </div>
  </div>



