body {
  background-color: #00ceff;
  height: 100%;
  width: 100%;
}
img {
  width: 17em;
}
#new-user {
  margin-bottom: 10em;
  color: #f7fff6;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #0093e2;
  box-shadow: inset 0 0 0 1000px white !important
}
a {
  color: white;
}
