

.container {
  box-shadow: 2px 4px rgba(0, 147, 226, 0.05);
  border-radius: 2%;
  margin-top: 0;
  padding: 3%;
}


h4 {
  padding: 3%;
  margin-top: 2em;
  margin-bottom: 0;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  text-align: center;
}
.inputfile + label {
  width:100%;
  font-size: 1.2em;
  font-weight: 400;
  padding:0.75rem 1.25rem;
  margin-bottom:0;
  background-color:#007bff;
  border-radius: 5px;
  color:white;
  text-align: center;
  cursor: pointer;
}
.inputfile:focus + label {
  outline: none!important;
  box-shadow: none!important;
  background-color:#007bff;
  color:white;
}

#button {
  margin-top: 10%;
  padding: 2%;
  margin-bottom: 20%;
}


